html, body {
    margin: 0;
    padding: 0;
    background: #888888;
}
.container {
    width: 1280px;
    font-family: 'Loto', sans-serif;
}
.nav {
    width: 100%;
    min-height: 81px;
    line-height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}
.nav-list {
    display: inline-block;
    margin: 0;
    list-style-type: disc;
    padding-left: 0;
}
.nav-list-item {
    display: inline-block;
    margin-right: 70px;
}
.nav-list-anchor {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #16A085;
}
.header {
    width: 100%;
}
.header-img {
    width: 100%;
}
.content {
    background: #F5F6F7;
}
.section-container {    
    width: 1059px;
    text-align: center;
    margin: 0 auto;
    color: #373737;
}
.content-title {
    margin: 0;
    padding-top: 59px;

}
.content-paragraph {
    margin: 0;
    margin-top: 34px;
}
.button-started {
    padding: 24px 44px 18px;
    margin-top: 40px;
    margin-bottom: 94px;
    font-size: 12px;
    text-transform: uppercase;
    background: #16A085;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    letter-spacing: 1.5px;
}
.footer {
    width: 100%;
    padding: 47px 0 45px;
    background: #FFFFFF;
}
.footer-paragraph {
    text-align: right;
    margin: 7px 0 0;
}